<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Ecommerce</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    </head>
    <body class="body">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-success ">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/home}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" style="width: fit-content; margin-left: auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                OPCIONES
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Carrito</a></li>
                                <li><a class="dropdown-item" href="#">Mis productos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    </body>
    <div th:fragment="footer">
        <footer class="footer bg-success">
            <p class="text-center text-white">Copyright &copy; Jast 2023</p>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        </footer>
    </div>
    
   
</html>
